/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
    height: 100%;
    background: url('../img/bg.jpg') no-repeat center center #0e0f22;
    -o-background-size: cover;  /* Opera 9.5+ */
    -moz-background-size: cover; /* Firefox 3.6+ */
    -khtml-background-size: cover; /* Konqueror */
    background-size: cover;

}
#loader {
    background: no-repeat;
    width: 448px;
    height: 189px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -200px;
}
#loader.eng {
    background-image: url('../img/loading-eng.png');
}
#loader.rus {
    background-image: url('../img/loading-rus.png');
}
.shadow {
    position: absolute;
    width: 100%;
    height: 33px;
    top: 0;
    left: 0;
    box-shadow: inset -3px -3px 15px rgba(24,27,70,0.7);

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


/* CSS3 Animation
-----------------------------------------------------------------------------*/
#noTrespassingOuterBarG {
    margin: 101px 0 0 22px;
    height: 33px;
    width: 407px;
    position: relative;
	overflow: hidden;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#radius {
	overflow: hidden;

    background: url('../img/whirligig.png') repeat-x;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

	-moz-animation-name:noTrespassingAnimationG;
    -moz-animation-duration:1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -webkit-animation-name:noTrespassingAnimationG;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-name:noTrespassingAnimationG;
    -ms-animation-duration:1s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    animation-name:noTrespassingAnimationG;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.noTrespassingBarLineG {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
@-moz-keyframes noTrespassingAnimationG {
    0% { margin-left:0; }
    100% { margin-left:-32px; }
}
@-webkit-keyframes noTrespassingAnimationG {
    0% { margin-left:0; }
    100% { margin-left:-18px; }
}
@-ms-keyframes noTrespassingAnimationG {
    0% { margin-left:0; }
    100% { margin-left:-38px; }
}
@-o-keyframes noTrespassingAnimationG {
    0% { margin-left:0; }
    100% { margin-left:-38px; }
}
@keyframes noTrespassingAnimationG {
    0% { margin-left:0; }
    100% { margin-left:-18px; }
}


/* For Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    #ramka {
        background: url('../img/ramka.png') no-repeat;
        position: absolute;
        top: 88px;
        left: 15px;
        width: 407px;
        height: 39px;
        display: block;
        z-index: 999;
    }
    #noTrespassingOuterBarG {
        margin-left: 33px;
        width: 407px;
    }
}
noindex:-o-prefocus, #noTrespassingOuterBarG {
    margin-left: 22px;
    width: 407px;
}


noindex:-o-prefocus, #ramka {
    background: url('../img/ramka.png') no-repeat;
    position: absolute;
    top: 96px;
    left: 5px;
    width: 439px;
    height: 45px;
    display: block;
    z-index: 999;
}
